body{
    /* background: url('../img/bg.jpg'); */
    /* background: url('../img/bg1.jpg'); */
    /* background: url('../img/bg2.jpg'); */
    /* background: url('../img/bg3.jpg'); */
    /* background: url('../img/bg4.jpg'); */
    /* background: url('../img/bg5.jpg'); */
    background: url('../img/bg6.jpg');
    background-size:cover;
    background-attachment: fixed;
}


.codeBase_form_card{
    max-height: 200px;
}


.blueBG{
    background: rgb(0,34,70);
}